*~
*.o
TAGS
LSM
Makefile
build-stamp
config.h
config.log
config.status
gnuit.spec
stamp-h1
version.h
debian/files
debian/git.substvars
debian/gnuit.substvars
debian/git
debian/gnuit
debian/git.debhelper.log
debian/gnuit.debhelper.log
doc/gnuit.html
lib/Makefile
lib/alloca.h
lib/fcntl.h
lib/inttypes.h
lib/libgnu.a
lib/signal.h
lib/.deps
lib/uniwidth/.deps
src/.deps
src/gitfm
src/gitkeys
src/gitps
src/gitview
src/gitwhich
src/gitwipe
term/gnuitrc.aixterm
term/gnuitrc.ansi
term/gnuitrc.common
term/gnuitrc.generic
term/gnuitrc.hft
term/gnuitrc.hpterm
term/gnuitrc.linux
term/gnuitrc.linux-m
term/gnuitrc.mach
term/gnuitrc.minix
term/gnuitrc.thix
term/gnuitrc.vt100
term/gnuitrc.vt102
term/gnuitrc.xterm
term/gnuitrc.xterm-color
debian/gnuit.postinst.debhelper
debian/gnuit.prerm.debhelper
lib/charset.alias
lib/configmake.h
lib/ref-add.sed
lib/ref-del.sed
lib/stdlib.h
lib/string.h
lib/strings.h
lib/sys/stat.h
lib/unistd.h
lib/uniwidth/.dirstamp
lib/time.h
