<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="bash-4.2">
        <watched
          excludes=".*"
          subdirs="true">
          <filter
            name="Assembly"/>
          <filter
            name="C"/>
          <filter
            name="C++"/>
          <filter
            name="CSS"/>
          <filter
            name="CUDA"/>
          <filter
            name="Html"/>
          <filter
            name="Javascript"/>
          <filter
            name="Objective-C"/>
          <filter
            name="Objective-C++"/>
          <filter
            name="Php"/>
          <filter
            name="TypeScript"/>
          <filter
            name="Xml"/>
        </watched>
        <dir
          name="CWRU">
          <dir
            name="misc"/>
        </dir>
        <dir
          name="builtins"/>
        <dir
          name="doc"/>
        <dir
          name="examples">
          <dir
            name="loadables">
            <dir
              name="perl"/>
          </dir>
        </dir>
        <dir
          name="include"/>
        <dir
          name="lib">
          <dir
            name="glob"/>
          <dir
            name="intl"/>
          <dir
            name="malloc"/>
          <dir
            name="readline">
            <dir
              name="examples"/>
          </dir>
          <dir
            name="sh"/>
          <dir
            name="termcap"/>
          <dir
            name="tilde"/>
        </dir>
        <dir
          name="support"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Mac"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
